
                    <div>
                        <select id="filter-discussions">
                          <option>Browse by topic:</option>
                        </select>
                    </div>

                    {{#each discussions as |post|}}


                    <div class="post-item" data-id="{{post.id}}">
                        <h4>{{post.title}}</h4>
                        <div class="post-info">
                            <span class="author">Created by: {{post.user.username}}</span>
                            <span class="date">{{post.created_at}}</span>
                            <span class="category">{{post.interest.interest_name}}</span>
                        </div>
                        <p>{{post.body}}</p>
                        {{#if post.owner}}
                        <div class="post-actions">
                          <i class="fas fa-times delete-post-button"></i>
                          <i class="fas fa-pencil-alt"></i>
                        </div>
                        {{/if}}
                    </div>


                    {{/each}}
